@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

* {
  font-family: 'Open Sans';
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.top {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.playback-bar {
  height: 125px;
  background-color: lightgray;
}

.sidebar {
  width: 125px;
  background-color: gray;
}

.screen {
  flex: 1;
  background-color: lightgoldenrodyellow;
}
