html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

button {
  outline: none;
}

#app {
  display: flex;
  flex-direction: column;
}

.top {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

.slider:hover {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

button {
  background-color: #777;
  border: none;
  height: 24px;
  border-radius: 12px;
  color: #eee;
  cursor: pointer;
}
