@import './variables.scss';

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

button {
  outline: none;
  background-color: $light-color;
  border: none;
  height: 24px;
  border-radius: 12px;
  color: $text-color;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-variant-caps: all-small-caps;
  color: $text-dark-color;
  line-height: 1em;
}

.hidden {
  display: none;
}

// Loading circle
.loading-box {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid #777;
    border-top: 4px solid #ddd;
    animation: 1s spin linear infinite;
    display: inline-block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $border-color;
  color: $text-color;
  width: 100%;
  outline: none;

  &:focus {
    color: $text-light-color;
    border-bottom: 2px solid $underline-color;
  }
}

// Search input
.search-box {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    content: url('../icons/search.svg');
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}

// Scrolling
.scroll {
  overflow: hidden auto;
}

.scroll-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Options button
.options-btn {
  background: transparent url('../icons/options.svg') center no-repeat;
}
