/* Playback Bar */
.playback-box {
  height: 75px;
  background-color: lightgray;
  text-align: center;
  position: relative;

  .playback-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;

    /* Playback Times */
    p {
      margin: 0 15px;
    }
  }

  .playback-controls {
    display: inline-block;
  }

  .play-pause {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #777;
    background-repeat: no-repeat;
    background-position: center;

    .play {
      background-image: url('../../static/play.svg');
    }

    .pause {
      background-image: url('../../static/pause.svg');
    }
  }
}
