@import './variables.scss';

/* Playback Bar */
.playback-box {
  display: flex;
  flex-direction: column;
  height: 75px;
  background-color: $playback-color;

  .playback-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;

    /* Playback Times */
    p {
      margin: 0 15px;
      color: $text-color;
    }
  }

  button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  .playback-controls {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .playback-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;

    .play-pause {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      // background-color: $accent-color;
      border: 2px solid $accent-color;
      margin: 0 6px;
    }
  }

  .playback-left {
    color: $text-color;
    flex: 1;
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    .playback-left-expand {
      padding: 3px 10px;
      border-radius: 10px;

      &:hover {
        position: absolute;
        background-color: #222;
      }
    }

    h3,
    h5 {
      margin: 0;
      display: inline-block;
    }
  }

  .playback-right {
    display: flex;
    flex: 1;
    margin-right: 50px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4px;
  }

  .play {
    background-image: url('../icons/play.svg');
  }

  .pause {
    background-image: url('../icons/pause.svg');
  }

  .replay-btn {
    background-image: url('../icons/replay-10.svg');
  }

  .forward-btn {
    background-image: url('../icons/forward-10.svg');
  }

  .skip-previous {
    background-image: url('../icons/skip-previous.svg');
  }

  .skip-next {
    background-image: url('../icons/skip-next.svg');
  }

  .shuffle-btn {
    background-image: url('../icons/shuffle.svg');
  }

  .shuffle-off {
    filter: invert(1);
  }

  .download-btn {
    background-image: url('../icons/download.svg');
  }

  .dl-box {
    position: relative;

    h3 {
      margin: 0;
    }
  }

  .dl-popover {
    position: absolute;
    color: $text-color;
    background-color: $sidebar-color;
    transform: translate(-50%, -100%);
    left: 50%;
    top: 0%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid $border-color;
  }
}
