.screen {
  flex: 1;
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

.screen-title {
  font-size: 30px;
}

.song-item {
  cursor: pointer;
}

.song-missing {
  color: grey;
  text-decoration: line-through;
  cursor: default;
}
