.screen {
  flex: 1;
  background-color: #333;
  color: #eee;
  padding: 20px;
}

.screen-title {
  font-size: 30px;
}

.song-item {
  cursor: pointer;
  height: 30px;
  border-top: 1px solid #555;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-item:hover {
  background-color: #444;
}

.song-missing {
  color: grey;
  text-decoration: line-through;
  cursor: default;
}
