.sidebar {
  width: 100px;
  background-color: black;
  color: grey;
  padding: 20px;
}

.sidebar-title {
  margin-top: 0;
}

.sidebar-link {
  cursor: pointer;
}

.sidebar-link:hover {
  color: lightgrey;
}

.sidebar-section {
  font-size: 16px;
  margin-top: 10px;
}

.sidebar-selected {
  color: white;
}
