@import './variables.scss';

.sidebar {
  width: 100px;
  background-color: $sidebar-color;
  color: $text-color;
  padding: 20px;

  .sidebar-title {
    margin-top: 0;
  }

  .sidebar-link {
    cursor: pointer;
  }

  .sidebar-link:hover,
  .sidebar-selected {
    color: $text-light-color;
    text-shadow: 0 0 $text-light-color;
  }

  .sidebar-section {
    font-size: 16px;
    margin-top: 10px;
  }
}
