@import './variables.scss';

.sidebar {
  box-sizing: border-box; // Width: 140px (including padding)
  width: 140px;
  background-color: $sidebar-color;
  color: $text-color;
  padding: 20px;
  z-index: 1;

  .sidebar-title {
    margin-top: 0;
  }

  .sidebar-link {
    cursor: pointer;
  }

  .sidebar-link:hover,
  .sidebar-selected {
    color: $text-light-color;
    text-shadow: 0 0 $text-light-color;
  }

  .sidebar-del:hover .del-btn {
    display: block;
  }

  .sidebar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    p {
      font-size: 16px;
      flex: 1;
    }

    button {
      padding: 0;
      width: 12px;
      height: 12px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }

    .add-btn {
      background-image: url('../icons/add.svg');
    }

    .del-btn {
      background-image: url('../icons/clear.svg');
      filter: invert(1);
      display: none;

      &:hover {
        filter: none;
      }
    }
  }
}

.sidebar-icon {
  position: absolute;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../icons/menu.svg');
  display: none;
}

.sidebar-close {
  pointer-events: none; // Clicks should go through
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.25s ease-out;
}

@include phone {
  .sidebar-icon {
    display: block;
  }

  .sidebar {
    position: absolute;
    left: -140px;
    height: 100%;
    transition: left 0.25s ease-out;
  }

  .sidebar-close-active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.sidebar-open {
  left: 0;
}
