/* Color Theme */
$border-color: #555;
$underline-color: #aaa;
$light-color: #444;
$accent-color: #4286f4;

// Text
$text-color: #ddd; // Default
$text-dark-color: #aaa; // Less important
$text-light-color: #fff; // Highlighting

// Backgrounds
$screen-color: #333;

$sidebar-color: #111;

$playback-color: #111;

// Slider
$slider-thumb-color: #aaa;
