@import './variables.scss';

.youtube-item-list {
  flex: 1;
  overflow: hidden auto;
  padding: 0;
  margin: 5px 0 0 0;
}

.youtube-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $light-color;
  }

  .youtube-item-thumbnail {
    margin: 5px;
    width: 120px; // Regular thumbnail size
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .youtube-item-text {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3,
    h5 {
      margin: 0;
    }
  }

  &:not(:last-child) .youtube-item-text {
    border-bottom: 1px solid $border-color;
  }
}

.yt-playing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: inline-block;
  }
}

.yt-playing-current {
  border-bottom: 1px solid $border-color;
}

.yt-playing-heading {
  margin: 0;
}
